* {
    box-sizing: border-box;
}
ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
body {
    font-family: "ヒラギノ明朝", serif;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 110px;
    padding: 0 3% 0 2%;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}
li {
    list-style: none;
}
header a {
    text-decoration: none;
    color: black;
}
header ul {
    margin: 0;
    display: flex;
}
header li {
    font-size: 18px;
    padding: 5px 0 ;
    margin: 0 0 0 15px;
}
header nav {
    margin: 0 0 0 auto;
}
.header-title {
    font-size: 20px;
    color: black;
}
.header-subtitle {
    font-size: 13px;
}
.header-contents {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.contents {
    background-color: #f0f8ff;
    margin-top: 110px;
    padding-bottom: 15px;
}
.contents img {
    width: 100%;
    height: 550px;
}
.poster {
    text-align: center;
}
.poster img {
    width: 550px;
    height: 800px;
}
.contents-text {
    text-align: center;
    padding-bottom: 10px;
}
.introduction {
    font-size: 30px;
    text-align: center;
    color: cornflowerblue;
}
.title {
    padding-top: 20px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 25px;
}
.sub-title {
    font-size: 16px;
}
.link {
    font-size: 30px;
    color: cornflowerblue;
}
.specific-place {
    font-size: 30px;
}
.specific-participant {
    font-size: 25px;
}
.day {
    font-size: 32px;
}
.time {
    font-size: 27px;
}
.place {
    font-size: 20px;
}
.reserve {
    text-align: center;
    padding-top: 15px;
}
.reserve h2 {
    font-size: 20px;
}
.reserve img {
    width: 350px;
    height: 350px;
}


footer {
    padding-top: 18px;
    background-color: skyblue;
    padding-bottom: 8px;
}
.footer-contents {
    text-align: center;
}
.footer-contents-2 {
    text-align: center;
}
.footer-contents-3 {
    text-align: center;
}
