* {
    box-sizing: border-box;
}
ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
body {
    font-family: "ヒラギノ明朝", serif;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 110px;
    padding: 0 3% 0 2%;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}
li {
    list-style: none;
}
header a {
    text-decoration: none;
    color: black;
}
header ul {
    margin: 0;
    display: flex;
}
header li {
    font-size: 18px;
    padding: 5px 0 ;
    margin: 0 0 0 15px;
}
header nav {
    margin: 0 0 0 auto;
}
.header-title {
    font-size: 20px;
    color: black;
}
.header-subtitle {
    font-size: 13px;
}
.header-contents {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.contents {
    margin-top: 110px;
    background-color: aliceblue;
    padding-bottom: 20px;
}
.contents h1 {
    font-size: 40px;
    text-align: center;
    color: cornflowerblue;
    padding-top: 10px;
}
.map {
    text-align: center;
}
.place {
    font-size: 35px;
    color: cornflowerblue;
    padding-top: 10px;
}
.map-text {
    font-size: 30px;
    padding-bottom: 10px;
}
.train {
    font-size: 35px;
    color: cornflowerblue;
}
.question {
    font-size: 40px;
    color: cornflowerblue;
    padding-top: 10px;
    font-weight: bold;
}
footer {
    padding-top: 18px;
    background-color: skyblue;
    padding-bottom: 8px;
}
.footer-contents {
    text-align: center;
}
.footer-contents-2 {
    text-align: center;
}
